@import "./partials/_reset.scss";
@import "./partials/_clearfix.scss";
@import "./partials/_general_styles.scss";
// 1. Many small items in a grid



.small-grid-flexbox {
  ul {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 400px;
    align-content: center;

    @include respond-to('medium'){
    width: 400px;
    }

    li {
      box-sizing: border-box;
      text-align: center;
      width: 10%;
      height: 30px;

      @include respond-to('medium'){
        line-height: 40px;
        vertical-align: middle;
        width: 40px;
        height: 40px;
      }
    }
  }
}

// 2. 2-Column Grid

.two-col-grid-flexbox {

  @include respond-to('medium'){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .column-1 {

    @include respond-to('medium'){
      order: 1;
      height: 85%;
      width: 50%;
    }
  }

  .column-2 {

    @include respond-to('medium'){
      width: 50%;
    }

  }
}

// 3. Centering



// 4. Ordering
